<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calorie Calculator</title>
    <link rel="stylesheet" href="./src/style.css">

</head>
<body>
     <h1><span class="grad-text">Real Form</span></h1>

    <div id="calculatorbox">
        <h3>modify your prefered unit:</h3>
        <div id="units-wrapper">
            <label><input class="units" id="metricunits" type="button" name="unit" value="metric" checked></label>
            <label><input class="units" id="usunits" type="button" name="unit" value="US" checked></label>
        </div> 
        <div id="metinp">
        <div class="form-group">
            <label for="age">Age</label>
            <input id="age" type="number" min="16" max="60" required>
        </div>

        <div class="form-group">
            <label for="gender">Gender</label>
            <select id="gender">
                <option value="m">Male</option>
                <option value="f">Female</option>
            </select>
        </div>

        <div class="form-group">
            <label for="height">Height</label>
            <input id="height" type="number" min="50" max="250" required>
        </div>

        <div class="form-group">
            <label for="weight">Weight</label>
            <input id="weight" type="number" min="20" max="300" required>
        </div>

        <div class="form-group">
            <label for="activity">Activity Level</label>
            <select id="activity">
                <option value="1.2">Sedentary</option>
                <option value="1.375">Light</option>
                <option value="1.55">Moderate</option>
                <option value="1.725">Very Active</option>
                <option value="1.9">Athlete</option>
            </select>
        </div>
    </div>
    <button class="button" id="backbtn" onclick="window.location.href='index.html'">Back</button>
    </div>

    
     <script src="./src/index.js"></script>
    
</body>

</html>
