<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Form</title>
    <link rel="stylesheet" href="/RealForm/src/style.css">

</head>

<body>
    <h1><span class="grad-text">Real Form</span></h1>
    <p id="p1">"welcome to Real Form calorie calculator"</p>
    <p id="p2"><b>choose your operation:</b></p>
    <button id="ccbtn" class="button" title="first things first...">Calorie Calculator</button>
    <br>
    <br>
    <button id="dgbtn" class="button" title="let's get real fattie!">Diet Generator</button>
    <br>
    <br>
    <button id="gpgbtn" class="button" title="you wanna get tough?">Gym Plan Generator</button>
    <div id="taskbar"></div>

    <button id="start"><i>Start</i></button>

    <img id="comp" src="../image/computer icon.webp" title="click to change the theme">
    <img id="trash" src="../image/recycle bin.png" title="click to see your last progress">
    <img class="heart" id="heart1" src="/RealForm/image/heartpixel.png">
    <img class="heart" id="heart2" src="/RealForm/image/heartpixel.png">
    <img class="heart" id="heart3" src="/RealForm/image/heartpixel.png">
    <img class="heart" id="heart4" src="/RealForm/image/heartpixel.png">
    <img class="heart" id="heart5" src="/RealForm/image/heartpixel.png">
    <img class="heart" id="heart6" src="/RealForm/image/heartpixel.png">
        

    <script src="/RealForm/src/index.js"></script>
</body>
</html>
